.target
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
target
ideatarget
bin
logs

# https://stackoverflow.com/questions/3041154/intellij-idea-9-10-what-folders-to-check-into-or-not-check-into-source-contro
.idea/workspace.xml
.idea/tasks.xml

