dist/*
target/
lib_managed/
logs/
src_managed/
project/boot/
project/plugins/project/
project/project/
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.history
.cache
.lib/
generated.keystore
